.linkAuction {
  margin: 20px;
  text-decoration: none;
  border-radius: 20px;
  display: flex;
  flex-grow: 1;
}

.linkAuction:hover {
  scale: 1.01;
}

.thumbnailImg {
  background: gray;
  min-width: 300px;
  max-width: 550px;
  height: 230px;
  border-radius: 20px;
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
}

.elementContainerThumb {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  height: 220px;
}

.thumbnailCost,
.thumbnailRating {
  font-size: 24px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  width: fit-content;
}

.thumbnailRating {
  font-size: 48px;
  color: #d9d9d9;
}

.yellowStar {
  color: gold;
}
