.thumbnailImg {
  margin: 20px;
  width: 400px;
  height: 230px;
  border-radius: 20px;
  background: url("imageThumbnail.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.thumbnailCost,
.thumbnailRating {
  font-size: 24px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  width: fit-content;
}

.thumbnailRating {
  font-size: 48px;
  color: #d9d9d9;
}

.yellowStar {
  color: gold;
}

.thumbnailWrapper {
  display: flex;
  margin-top: 60px;
}
