.auctionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  background-color: white;
}

.upperBoxes {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rightBoxUpp {
  background-color: #161414;
  position: absolute;
  width: 660px;
  height: 600px;
  top: 100px;
  right: 60px;
  border-radius: 15px;
  opacity: 0.9;
}

.leftBoxUpp {
  aspect-ratio: 16/9;
}

.lowerBoxes {
  display: flex;
  justify-content: center;
  margin-bottom: -350px;
}

.rightBoxDown {
  background-color: #161414;
  position: absolute;
  width: 900px;
  height: 300px;
  top: 720px;
  right: 60px;
  border-radius: 10px;
  opacity: 0.9;
}

.description-title {
  color: white;
  font-size: 30px;
  margin-left: 350px;
  margin-top: 10px;
}

.leftBoxDown {
  position: absolute;
  width: 900px;
  height: 300px;
  top: 720px;
  left: 20px;
  border-radius: 10px;
}

@media (max-width: 390px) {
  .rightBoxUpp {
    background-color: #161414;
    position: absolute;
    width: 340px;
    height: 500px;
    top: 330px;
    right: 30px;
    border-radius: 15px;
    opacity: 0.9;
  }
  .rightBoxDown {
    background-color: #161414;
    position: absolute;
    width: 340px;
    height: 300px;
    top: 870px;
    right: 30px;
    border-radius: 10px;
    opacity: 0.9;
  }
  .leftBoxDown {
    position: absolute;
    width: 340px;
    height: 300px;
    top: 1200px;
    left: 20px;
    border-radius: 10px;
  }
  .description-title {
    display: none;
  }
}
