.HomePage {
  background-color: #131212;
}

.mobileFilter {
  display: none;
}

#displayFilterButton,
#hideFilterButton {
  display: none;
}

.heroHome {
  width: auto;
  height: 618px;
  background: url("imgHero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heroHome button:hover {
  background-color: gray;
  transition: background-color 0.5s;
}

.linkCreateAuction {
  align-self: end;
  text-decoration: none;
}

.createAuctionButton {
  width: 220px;
  height: 55px;
  background-color: #131212;
  margin: 20px;
  margin-top: 80px;
  border-radius: 10px;
  opacity: 80%;
  align-self: end;
  align-items: center;
  display: flex;
  justify-content: center;
}
.createAuctionButton h3 {
  color: white;
  font-size: 24px;
}

@media (max-width: 390px) {
  .heroHome {
    height: 230px;
  }
  .createAuctionButton {
    width: 120px;
    height: 35px;
    margin: 10px;
    margin-top: 60px;
    opacity: 100%;
  }
  .createAuctionButton h3 {
    font-size: 16px;
  }
  .desktopFilter {
    display: none;
  }
  #displayFilterButton,
  #hideFilterButton {
    display: initial;
    margin: 10px;
    width: 120px;
    height: 50px;
    background-color: #131212;
  }
  #hideFilterButton {
    display: none;
  }
}
