* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 18%;
}

.loginForm {
  width: min-content;
}

.Login {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 80%;
}

.inputLogin {
  border: none;
}

.input-box .icon {
  color: #ffffff;
  position: relative;
  left: 90%;
  transform: translateY(-170%);
  font-size: 20px;
  background: transparent;
}

.Login .remember-forgot {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 95%;
  margin-left: 2%;
  font-size: 20px;
  background: transparent;
  color: #ffffff;
}

.remember-forgot label-input {
  accent-color: #ffff;
  margin-right: 5px;
  background: transparent;
}

.remember-forgot a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  background: transparent;
}

.remember-forgot a:hover {
  text-decoration: underline;
  background: transparent;
}

.Login button {
  width: 40%;
  height: 75px;
  background: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  font-family: oswald;
  margin-left: 30%;
  margin-top: 5%;
}

@media (max-width: 390px) {
  .Login h1 {
    color: white;
  }
}
