* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    background-image: url(public/imgHero.png);
}

.Login {
    width: 28pc;
    display:grid;
    margin-top: 32%;
    margin-left: 80%;
    background-color:transparent;
  }
  
  .Login h1 {
    font-size: 36px;
    height: -40%;
    text-align: center;
    color: #181616;
    background: transparent;
  }
  
  .Login .input-box {
    position: relative;
    width: 100%;
    height: 70%;
    background-color:#1a1a1a;
    margin: 0px 0px;
    border-radius: 10px;
    background: transparent;
    
  }
  
  .input-box input {
    width: 100%;
    height: 0%;
    background:#181616;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size:20px;
    padding: 30px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #ffffff;
  }
  
  .input-box .icon {
    color: #ffffff;
    position: relative;
    top: 20%;
    left: 92%;
    transform: translateY(-250%);
    font-size: 20px;
    background: transparent;
  }
  
  .Login .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background: transparent;
    color: #ffffff;
  }
  
  
  .remember-forgot label-input {
    accent-color: #ffff;
    margin-right: 5px;
    background: transparent;
  }
  
  .remember-forgot a {
    color:#ffffff;
    text-decoration: none;
    font-family: oswald;
    background: transparent; 
  }
  
  .remember-forgot a:hover {
   text-decoration: underline;
   background: transparent; 
  }
  
  .Login button {
    width: 40%;
    height: 45px;
    background: #1a1a1a;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: oswald;
    margin-left: 30%;
  }
  