.signup-page{
display: flex;
align-items: center;
justify-content: center;
}
.signup-form{
  grid-template-columns: 1fr 1fr;
  width: 500px;
  gap: 30px;

}
.signup-form-title{
  margin-top: 90px;
  margin-bottom: 10px;
  height: 5px;
  font-size: 44px;
  color: black;
  
}
.FormInput{
  height: 70px;
  margin-top: -10px;
}

.signup-submit-btn{
  margin-top: 25px;
}
.signup-span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
  position: relative;

}
.signup-input:invalid[focused="true"]~span {
  display: block;
}
.signup-input:invalid[focused="true"] {
  border-radius: 6px red;
  border: 1px solid red;
}
@media (max-width: 768px) {
  .signup-input-grid {
    grid-template-columns: 1fr;}
  }