.thumbnailImg {
  margin: 20px;
  width: 400px;
  height: 230px;
  border-radius: 20px;
  background: url("imageThumbnail.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  box-sizing: border-box;
}

.thumbnailCost,
.thumbnailRating {
  font-size: 24px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  width: fit-content;
}

.thumbnailRating {
  font-size: 48px;
  color: #d9d9d9;
}

.thumbnailWrapper {
  display: flex;
  margin-top: 60px;
}

.header {
  background-color: #181616;
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.left-logo {
  cursor: pointer;
  width: 70%;
}

.right-logo {
  width: 50%;
  margin-right: 10px;
}

.links {
  cursor: pointer;
  list-style: none;
  display: inline;
  margin-left: 750px;
}

.links li {
  display: inline;
  margin-right: 20px;
}

.links a {
  color: white;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
